h1 {
    background-color: teal;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    text-align: center;
    padding: 15px;
   
    float: left;
    border-color: #cccccc
}

.NavButtons {
    float: right;
    background-color: white;
    width: 10px;
    margin: 30px;

}


h2 {
    color: teal;
    width: 200px;

}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}



input[type=submit] {
    width: 100px;
    background-color: teal;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

#message, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    height: 300px;
}



div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

body {
    background-image: url("../images/what-the-hex.png");
    background-repeat: repeat;
    width: 960px;
    margin: 0 auto 0 auto;
    
}

p {
    line-height: 1.6;
}

#headshot {
    width: 150px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

.tobewrapped {
    background: white;
    margin-top: 30px;
}

.footer {
    background: #42A5F5;
    color: white;
    line-height: 50px;
    padding: 0 20px;
   
  }

.footer,
.push {
    height: 50px;
}

.Portpics {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-right: 10px;
    display: inline;
}

.desc {
    width: 300px;
    height: 30px;
    padding: 15px;
    text-align: center;
    background-color: green;
    color: white;
    font-size: 30px;

}

.NavButtons li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.desc {
    position: absolute;
    top: 3px;
    width: 200px;
    height: 70px;
}

.imgwrap {
    position: relative;
}
@media screen and (max-width: 980px) {
    body {
        width: 60%;
        margin: 0 0 0 50px;

    }
}

@media screen and (max-width: 768px) {
    p {
        text-align: justify;
        text-indent: 2em;
        margin: 0 auto 0 auto;
    }
}

@media screen and (max-width: 640px) {
    #headshot {
        float: none;
        margin: 0 auto 0 auto;
    }
}
